*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    padding: 15px 30px;
    position: absolute;
    top:20%;
    left: 0;
    width: 100%;
    height: 100px;
    top:20px;

}
.navbar nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 32px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: rgb(62, 64, 66);
    padding-left: 40px;
    margin-left:30px ;
    text-transform: uppercase;
    letter-spacing: 6px;
    cursor: pointer;
}
.navbar a{
    color: rgb(62, 64, 66);
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-decoration: none;
    list-style-type: none;
    margin-left: 15px;
    font-size: 20px;
    margin-right: 50px;
    font-size: 24px;
    text-transform: capitalize;
}
.navbar a.active{
    text-decoration:underline solid black;
    padding:10px;
    text-underline-offset: 5px
}
.navbar a:hover{
    text-decoration:underline solid black;
    text-underline-offset: 5px
}
.radish{
    width: 100%;
    height: 88vh;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    padding-top: 1.5rem;
    position: relative;
   
}
.fresh{
    color: #eeeeee;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size:88px;
    font-weight:bolder;
    position: absolute;
    top:30%;
    left: 20%;
    right:35%;
    bottom: 50%;
    text-align: center;
    width: 55%;
}
.offer{
    color: #121111;
    background-color: #eeeeee;
    padding-top: .7rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 60px;
    position: absolute;
    top:65%;
    left: 45%;
    right: 50%;
    bottom: 50%;
    font-size: 24px;
    text-decoration: none;
    list-style: none;
    transition: transform .4s ease;
}
.offer:hover{
    background-color: #e6dcdc;
    transform: scale(1.05);
}
.farm{
    position: relative;
    height: 300px;
    text-align: center;
}
#farm{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight:bold;
    text-align: center;
    display: flex;
    align-items: center;
    top:50%;
    left: 45%;
    right: 50%;
    bottom: 50%;
    height: 200px;
    margin:auto;
    width: 55%;
    line-height: 1.2cm;
}
.our-story{
    color: #eeeeee;
    background-color: #121111;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:80%;
    left: 45%;
    right: 80%;
    bottom: 50%;
    text-decoration: none;
    list-style-type: none;
    width: 160px;
    height: 55px;
    font-size: 24px;
    padding-top: .7rem;
    cursor: pointer;
    z-index: 1;
    transition: transform .4s ease;
}
.our-story:hover{
    background-color: #322d2d;
    transform: scale(1.05);

}
.img img{
    width: auto;
    height: 700px;
    display: inline-block;
    transition: transform 0.4s ease;
}
.img img:hover{
  transform:scale(1.05);

}
.img p{
    color: #121111;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    letter-spacing: .5cm;
    text-transform: uppercase;
    font-weight: 20px;
}.img{
    display: flex;
    gap: 20px; 
    flex: 1;
    text-align: center;
    padding: 30px;
    position: relative;
    justify-content: center;
}
.img img{
    width: 700px;
    height:600px;
    margin-bottom: 15px;
    margin-top: 100px;
}
.shop{
    position: relative;
   color: #eeeeee;
   background-color: #121111;
   text-decoration: none;
   width: 160px;
   height: 55px;
   cursor: pointer;
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: .7rem;
   font-size: 24px;
   margin-top: 10px;
   z-index:  1;
   transition: transform .4s ease;
}
.learn{
    position: relative;
    color: #eeeeee;
   background-color: #121111;
   text-decoration: none;
   width: 160px;
   height: 55px;
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: .7rem;
   font-size: 24px;
   margin-top: 10px;
   cursor: pointer;
   z-index: 1;
   transition: transform .4s ease;
}
.learn:hover{
    background-color: #322d2d;
    transform: scale(1.05);
}
.shop:hover{
    background-color: #322d2d;
    transform:scale(1.05);

}
.touch{
    text-align: center;
    position: relative;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efd8db;
    margin-top:50%;
}
#touch{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    position: absolute;
    top: 25%;
    left:  18%;
    right: 30%;
    width: 1100px;
}
.btn{
    position: absolute;
    top: 65%;
    text-decoration: none;
    background-color: #121111;
    color: #eeeeee;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    width:200px;
    height: 50px;
    padding-top: .7rem;   
    transition: transform 0.4s ease;


}
.btn:hover{
    background-color: #322d2d;
    transform:scale(1.05);
}
.footer{
    position: relative;
    margin: 40px;
    margin-top: 50px;
}
.quality{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 10px;
    width: 400px;
    margin: 40px;
    
}
.icons img{
    height: 50px;
    display: inline;
    margin-left:40px;
    z-index: 999;
    border-radius:50% ;
}
.icons a :hover{
    background-color: #a49a9a;
}
#contact2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top:0%;
    left:55%;

}
#con{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
    position: absolute;
    top: 0%;
}
#gran{
    position: absolute;
    margin-top: 50px;
    text-align: left;
    font-size: 20px;
}
span{
    margin-top:20px;
    display:block;
    line-height: 1cm;
}
.address{
    font-family: Arial, Helvetica, sans-serif;
}
#address{
    font-size: 36px;
    position: absolute;
    top:0%;
    right:10%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
#add{
    position: absolute;
    top:40%;
    right:6%;
    font-size: 20px;
}


a{
    text-decoration: none;
}
@media (max-width: 768px) {

}
